@model StoreManagement.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2></h2>
<p>
    <button type="button" id="btnAddCustomer" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-bind="click: ResetModal">Add Customer</button>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>Customer Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Customers">
        <tr>
            
            <td data-bind="text: Name"></td>
            <td data-bind="text: Age"></td>
            <td data-bind="text: Address"></td>
            <td>
                <button class="btn btn-success" data-bind="click: ShowEditModal">Edit</button>
                <button class="btn btn-danger" data-bind="click: DeleteCustomer">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" data-bind="with : CustomerData">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" data-bind="text : Id, visible: false" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Customer Name</label>
                        <input class="form-control" type="text" data-bind="value : Name, valueUpdate : 'afterkeydown'" />
                    </div>
                    <div class="form-group">
                        <label for="Age">Age</label>
                        <input class="form-control" type="text" data-bind="value : Age, valueUpdate : 'afterkeydown'" />
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" data-bind="value : Address, valueUpdate : 'afterkeydown'" />
                    </div>
                    <div class="modal-footer">
                        <button typ="button" class="btn btn-success" id="createBtn" data-bind="click: AddCustomer, enable : IsValid">Create</button>
                        <button type="button" class="btn btn-success" id="updateBtn" data-bind="click: UpdateCustomer, enable : IsValid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.validation.min.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/KoCustomer.js"></script>
}

