<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3ecd840f-ffef-4b2c-9fad-d21ceef06f43/resourceGroups/storemanagementknockout/providers/Microsoft.Web/sites/storemanagementknockout</ResourceId>
    <ResourceGroup>storemanagementknockout</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://storemanagementknockout.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>storemanagementknockout.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>storemanagementknockout</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$storemanagementknockout</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StoreManagementEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:storemanagementchch.database.windows.net,1433;Initial Catalog=StoreManagement;Persist Security Info=False;User ID=param;Password=Developer@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:storemanagementchch.database.windows.net,1433;Initial Catalog=StoreManagement;Persist Security Info=False;User ID=param;Password=Developer@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OnBoardingTaskV3.Models.StoreManagementEntities, OnBoardingTaskV3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StoreManagementEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityModel.csdl|res://*/Models.EntityModel.ssdl|res://*/Models.EntityModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:storemanagementchch.database.windows.net,1433;Initial Catalog=StoreManagement;Persist Security Info=False;User ID=param;Password=Developer@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>